<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<div ui-view>
  <div class="max-page" data-ng-controller="IndexController" ng-init="pageInit()">
    <article class="aspect-ratio aspect-ratio-16-9">
      <video controls="" preload="none">
        <source src="intro.mp4" type="video/mp4">
      </video>
    </article><!-- end article -->

    <article>
      <h4>{{page.name}}</h4>
      <p>{{page.overview}}</p>
    </article>

    <article>
      <table class="table table-alternative table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Goal</th>
            <th>Description</th>
            <th>Progress</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in goals">
            <td>#{{$index + 1}}</td>
            <td>{{item.name}} </td>
            <td>I am easily going to {{item.name}} no later then {{item.completeBy | date:'longDate' }}.</td>
            <td width="50%">
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{(item.goalTotalCompleted/item.goalTotal)*100}}%">
                </div><!-- end progress bar -->
              </div>
            </td>
            <td>In the works</td>
            <td>
              <a ng-if="item.subGoal.length <= 0" ng-click="viewSubGoal(item)"><i class="fa fa-ban"></i></a>
              <a ng-if="item.subGoal.length > 0" ng-click="viewSubGoal(item)"><i class="fa {{chevron}}"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div collapse="isCollapsed">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10">
                <h3 class="panel-title">I am easily going to {{goalName}} no later then {{completeBy | date:'longDate' }}.</h3>
              </div>
              <div class="col-md-2">
                <a class="pull-right" ng-click="closeChevron();isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <table class="table table-alternative table-hover">
              <th>#</th>
              <th>Goal</th>
              <th>Description</th>
              <th>Progress</th>
              <th>Status</th>
              <tbody>
                <tr ng-repeat="subGoal in subGoals">
                  <td>#{{$index + 1}}</td>
                  <td>I am easily going to {{subGoal.name}} no later then {{subGoal.completeBy | date:'longDate' }}.</td>
                  <td>{{subGoal.description}}</td>
                  <td width="50%">
                    <div class="progress progress-striped active">
                      <div class="progress-bar" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width: {{(subGoal.goalTotalCompleted/subGoal.goalTotal)*100}}%">
                      </div><!-- end progress bar -->
                    </div>
                  </td>

                  <td ng-if="subGoal.isComplete == false">In the works</td>
                  <td ng-if="subGoal.isComplete == true">Completed</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
  </div>
  <div class="col-md-1"></div>
</div>

